* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* BEGIN NABVAR SECTION */
#header nav {
  margin-bottom: 10px;
}

#header li a {
  font-weight: 500;
  transition: all 500ms ease-in-out;
  outline: none;
}

#header li a:hover{
  color: #222;
}

#header button{
  border: none;
  font-size: 30px;
  color: #5622a8;
  outline: none;
}

#header li a.active {
  position: relative;
}

#header li a.active:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: rgba(122, 55, 213, 0.5);
}

#header .nav-image {
  height: 60px;
}

/* END NAVBAR SECTION */


/* BEGIN HEADER SECTION */

#header {
  width: 100%;
  margin-bottom: 50px;
}

#header .header-content a{
  border-radius: 5px;
  line-height: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
}

#header .header-content a.apply {
  background: rgba(122, 55, 213, 0.15);
  padding: 10px 33px;
  color: #7a37d5;
}

#header a.message {
  padding: 10px 33px;
  color: #2b88f7;
  background: rgba(43, 136, 247, 0.15);
}

#header .index-header h3 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: capitalize;
  line-height: 45px;
  font-family: "Arvo", sans-serif;
}

#header .index-header p {
  margin-bottom: 40px;
  font-size: 18px;
  display: block;
  line-height: 30px;
}

#header img.man {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* END HEADER SECTION */

/* TOP INDUSTRY PLAYERS SECTION */
#industry {
  margin: 50px 0;
  padding-left: 20px;
  padding-bottom: 60px;
  background: url("../img/dots.png"), url("../img/dots.png");
  background-position: left center, center right;
  background-repeat: no-repeat, no-repeat;
  background-size: 18%, 18%;
}

#industry p {
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.05em;
  color: rgba(0, 0, 0, 0.6);
}

#industry img {
  transition: all 500ms ease-in-out;
  opacity: 0.7;
  cursor: pointer;
  height: 40px;
  display: block;
  margin: 0 auto;
}

#industry img:hover {
  opacity: 1;
  transform: scale(1.1);
}

/* END TOP INDUSTRY PLAYERS SECTION */


/* BEGIN SERVICES SECTION */
#services {
  padding: 40px 0;
  background: url("../img/dots.png") no-repeat top right;
  background-size: 18%;
  margin-bottom: 50px;
}

#services h2 {
  text-align: center;
  font-family: "Arvo", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 20px;
}

#services .media img {
  display: block;
  margin: 0 auto;
  height: 70px;
  width: 70px;
  margin-right: 30px;
  margin-bottom: 15px;
}

#services .media .media-body h3 {
  font-family: "Arvo", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 39px;
  letter-spacing: 0.02em;
  color: #5622a8;
}

#services .media .media-body p,
#services .media .media-body a{
  font-size: 15px;
}

#services .media .media-body a {
  color: #000;
  text-decoration: none;
}

#services .service {
  margin-bottom: 40px;
}
/* END SERVICES */


/* HOW IT WORKS SECTION */
#works {
  background: url("../img/dotsother.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 20%;
  margin-bottom: 30px;
}

#works .header-text {
  font-family: "Arvo", sans-serif;
  font-weight: bold;
  font-size: 26px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.8);
}

#works .info{
  line-height: 28px;
}

#works .media {
  align-items: center;
  padding-left: 20px;
}

#works .hero-text {
  font-family: "Arvo", sans-serif;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  color: #5622a8;
  margin-right: 20px;
  width: 50px;
}

#works .media .media-body h4 {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 5px;
  display: inline-block;
}

#works .media .media-body p{
  font-size: 15px;
  line-height: 26px;
}

/* END HOW IT WORKS SECTION */

/* START MONETIZE SECTION HEADER */

.monetize h4 {
  font-family: "Arvo", sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

/* END MONETIZE SECTION HEADER */

/* JOIN THE BUX OFFICE TEAM */
#join-team {
  padding: 60px 10px;
  margin-top: 10px;
  margin-bottom: 50px;
  background: rgba(228, 222, 222, 0.3);
}

#join-team h3 {
  font-family: "Arvo", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.8);
}

#join-team p {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 45px;
  color: rgba(0, 0, 0, 0.8);
}

#join-team li {
  margin-bottom: 15px;
}

input.form {
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 15px;
  border: 1px solid #bebebe;
  border-radius: 4px;
}

button.submit {
  color: #fff;
  background: #7a37d5;
  outline: none;
  border: none;
  padding: 0.5rem 2em;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}


/* OUR PARTNERS */
#partners {
  padding: 20px;
  margin: 40px 0;
  text-align: center;
}

#partners h3 {
  font-family: "Arvo", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.8);
}

#partners p {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #5622a8;
  line-height: 30px;
}

#partners img {
  margin: 30px 0 10px 0;
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

#partners .quote {
  background: url("../img/quote.png") no-repeat;
  background-size: 25%;
}

/* END PARTNERS SECTION */


/* FOOTER SECTION */
#footer {
  background-color: #5622a8;
  color: #fff;
  padding: 40px;
}

#footer a,
#footer p {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

#footer .icons {
  display: flex; 
  justify-content: start;
}

#footer i {
  background-color: #fff;
  color: #5622a8;
  height: 40px;
  width: 40px;
  padding: 10px 10px;
  font-size: 20px;
  border-radius: 4px;
  margin-right: 30px;
  text-align: center;
}

#footer li {
  list-style: none;
  margin-bottom: 5px;
}

#footer li a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}

#footer h3{
  font-size: 22px;
}

/* MISC */
#subscribe h3 {
  color: #7a37d5;
  font-size: 22px;
  text-align: center;
  margin-bottom: 20px;
}

#subscribe {
  margin-bottom: 50px;
}

#what iframe {
  width: 480px;
  height: 320px;
}

@media screen and (max-width: 768px) {
  #why {
    padding: 100px 0 10px 10px;
    height: 400px;
  }

  #what iframe {
    width: 360px;
    height: 300px;
  }

  #header .index-header h3 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #header .index-header p {
    margin-bottom: 40px;
  }

  #header img.man {
    margin: 20px 0;
    height: 80%;
  }

  #header a.apply,
  #header a.message {
    font-size: 16px;
    display: inline-block;
    text-decoration: none;
    margin-bottom: 10px;
    padding: auto;
  }
}

@media screen and (max-width: 1200px) {
  #why {
    padding: 100px 0 10px 10px;
    height: 400px;
  }

  #header .index-header h3 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #header .index-header p {
    margin-bottom: 40px;
  }

  #header a.apply,
  #header a.message {
    font-size: 16px;
    display: inline-block;
    text-decoration: none;
    margin-bottom: 10px;
    padding: auto;
  }
}

@media screen and (max-width: 990px) {
  #header li a.active:after {
    content: none;
  }
  #header .index-header h3 {
    font-size: 28px;
  }
}

@media screen and (max-width: 1198px) {
  #header .index-header h3 {
    font-size: 26px;
  }
}