* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* HEADER STYLING */
#works,
#ready {
  padding: 30px;
}

#ready {
  background: rgb(236, 236, 236);
}

#header img.nav {
  height: 60px;
}

#header h3 {
  font-size: 36px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: capitalize;
  font-family: "Arvo", sans-serif;
}

#header p {
  margin-bottom: 50px;
  font-size: 26px;
  letter-spacing: 0.35rem;
  font-family: "Poppins", sans-serif;
}


#header img.man {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* BODY STYLING */
#works img{
  height: 500px;
  width: 100%;
  display: block;
  margin: 0 auto;
}

#works h3 {
  margin-bottom: 20px;
  font-size: 30px;
  font-family: "Arvo", sans-serif;
  font-weight: bold;
}

#works p {
  font-size: 18px;
  line-height: normal;
  margin-bottom: 5px;
}

#works h5 {
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 50px;
}

#works a {
  text-decoration: underline;
  color: #7a37d5;
  font-size: 20px;
}

#works a#more {
  color: #fff;
  background: #7a37d5;
  text-decoration: none;
  padding: 0.8rem 1.6rem;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#works .horizontal {
  background: url("../img/dots.png");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 18%;
}

#works .nobio {
  background: url("../img/dotsbg.png");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 40%;
}

#ready h3 {
  color: #7a37d5;
  font-weight: bold;
  font-family: "Arvo", sans-serif;
  font-size: 30px;
  margin-bottom: 30px;
}

#ready p {
  font-size: 20px;
  letter-spacing: 0.4rem;
  line-height: 40px;
}

#ready span a {
  color: #7a37d5;
  text-decoration: underline;
}

/* MEDIA QUERIES */
@media screen and (max-width: 560px) {
  #works img{
    height: 300px;
  }
}

@media screen and (max-width: 768px) {
  #header h3 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #header p {
    letter-spacing: 0.12rem;
    margin-bottom: 40px;
  }

  #header img.man {
    margin: 20px 0;
    height: 80%;
  }

  #works h3 {
    margin-top: 20px;
  }

  #works p {
    font-size: 20px;
  }

  #works a#more {
    font-size: 16px;
  }

  #ready h3 {
    font-size: 30px;
  }
}


@media screen and (max-width: 990px) {
  #header li a.active:after {
    content: none;
  }

  #works img{
    height: 350px;
  }
}

@media screen and (max-width: 1200px) {
  #header h3 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #header p {
    letter-spacing: 0.1rem;
    margin-bottom: 40px;
  }

  #works h3 {
    margin-top: 50px;
  }

  #works p {
    font-size: 20px;
  }

  #ready h3 {
    margin-top: 50px;
    font-size: 30px;
  }

  #ready p {
    font-size: 20px;
  }
}
